@font-face{
  font-family: BlackChancery;
  src: url(fonts/BLKCHCRY.TTF);
}
@font-face{
  font-family: Poppins;
  src: url(fonts/Poppins-Regular.ttf);
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@mixin down-indicate($pct){

  &::after{
    color: white;
    font-size: 30px;
    content: "V";
    position: absolute;
    top: $pct;
    right: 50%;
    animation: bounce 2s infinite;
  }
}

.titlecard{
  max-width: 100%;
  height: 0;
  background-repeat: no-repeat;

  /* Extra small devices (phones, 600px and down) */
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (max-width: 600px),(min-width: 600px)
  {
    background-image: url("MonstersAnnouncementMobile.jpg");
    background-size: 100%;
    padding-top: 177.9%;
    //@include down-indicate(100.9%);
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px), (min-width: 992px), (min-width: 1200px)
  {
    background-image: url("MonstersAnnouncement.jpg");
    background-size: 100%;
    padding-top: 76.93%;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    //@include down-indicate(76.93%);
  }
}
.info{
  margin: 20px;
  h3 h2 h3{
    text-align: center;
  }
  @media only screen and (max-width: 600px),(min-width: 600px)
  {

  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px), (min-width: 992px), (min-width: 1200px)
  {
    margin-left: 200px;
    margin-right: 200px;
  }
}

.floater{
  position: absolute;
  height: 30px;
  width: 30px;
  text-align: center;
  padding: 5px;
  border: 5px solid #fc3e19;
  border-radius: 100%;
  transition: all .25s ease-in-out;
  &:hover{
    transform: scale(1.1);
  }
}
.slideshow{
  background-color: rgba(50, 50, 50, .5);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  .slide{
    margin: 0 auto;
    top:25%;
    position: relative;
  }
}

body{
  margin: 0;
  padding: 0;
  font-family: Poppins;
  &.slides{
    background-color: black;
  }
}
#paige_webb{
  top: 120px;
  left: 315px;
}
#penelope{
  top: 260px;
  left: 625px;
}
#shepherd{
  top: 450px;
  left: 625px;
}
#balloon{
  top: 400px;
  left: 350px;
}
#penguins{
  top: 275px;
  left: 150px;
}
#email{
  top: 200px;
  left: 500px;
}
#video{
  top: 220px;
  left: 300px;
}
.body{
  width: 792px;
  height: 612px;
  margin: 0 auto;
  position: relative;
}
.gallery{
  position: absolute;
  top: 5%;
  left: 5%;
  height: 75%;
  width: 90%;
}
.slide{
  vertical-align: center;
  img{
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
  }
}
.title{
  text-align: center;
  width: 100%;
  padding-top: 5px;
  color: white;
  font-family: BlackChancery;
  &.black{
    color: black !important;
  }
  &.snug{
    top: 20px;
    position: absolute;
    text-align: center;
    left: 555px;
    width: 210px
  }
  &.hash{
    top:510px;
    left:60px;
    color: black;
    position: absolute;
    text-align: left;
  }
  &.times{
    font-family: serif !important;
  }
  &.left{
    text-align:left;
    position: absolute;
    left: 50px;
  }
  .back{
    text-align: left;
    font-family: Serif;
    position: absolute;
    left: 25px;
    top: 25px;
    color: white;
    font-style: normal;
    text-decoration: none;
    &:visited{
      color:white;
    }
    &:hover{
      color:white;
      transform: scale(1.25);
      transition: all .25s ease-in-out;
    }
    &:active{
      color:white;
    }
  }
}
.slick-prev:before{
  content: "<" !important;
  height: 100%;
}

.slick-next:before{
  content: ">" !important;
  height: 100%;
}

h1{

}
