@font-face {
  font-family: BlackChancery;
  src: url(fonts/BLKCHCRY.TTF);
}
@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins-Bold.ttf);
  font-weight: bold;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
html, body {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

.title {
  text-align: center;
  width: 100%;
}
.title h2, .title h1 {
  margin: 0;
}

.titlecard {
  max-width: 100%;
  height: 0;
  background-repeat: no-repeat;
  background-image: url("MonstersAnnouncementMobile.jpg");
  background-size: 100%;
  padding-top: 177.9%;
}
@media only screen and (min-width: 768px) {
  .titlecard {
    background-image: url("MonstersAnnouncement.jpg");
    background-size: 100%;
    padding-top: 76.93%;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
  }
}

.info {
  margin: 20px;
  /* Medium devices (landscape tablets, 768px and up) */
}
.info h3 h2 h3 {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .info {
    margin-left: 200px;
    margin-right: 200px;
  }
}

footer {
  text-align: center;
  font-size: 10px;
  color: gray;
  padding: 10px;
  display: block;
}

.gallery-outside-container {
  width: 100%;
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .gallery-outside-container {
    width: 792px;
    height: 612px;
    margin: 0 auto;
  }
}

.gallery-inside-container {
  width: 100%;
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .gallery-inside-container {
    width: 100%;
    margin: 0 auto;
    height: 612px;
    display: block;
    position: relative;
    background-image: url("room.jpg");
  }
}

a.div {
  text-decoration: none !important;
}

a {
  color: #bfedbb;
}
a:visited {
  color: #8be384;
}

.floater {
  text-align: center;
  background-color: #2c4c53;
  margin: 10px 0px;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  font-style: normal;
  /* Medium devices (landscape tablets, 768px and up) */
}
@media only screen and (min-width: 768px) {
  .floater {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px;
    border: 5px solid #2c4c53;
    border-radius: 100%;
    transition: all 0.25s ease-in-out;
    color: rgba(0, 0, 0, 0);
  }
  .floater:hover {
    transform: scale(1.1);
  }
  .floater#fireplace {
    top: 120px;
    left: 312px;
  }
  .floater#sneak-peak {
    top: 240px;
    left: 595px;
  }
  .floater#books {
    top: 400px;
    left: 560px;
  }
  .floater#couch {
    top: 325px;
    left: 310px;
  }
  .floater#col_page {
    top: 185px;
    left: 310px;
  }
  .floater#piano {
    top: 221px;
    left: 190px;
  }
  .floater#email {
    top: 205px;
    left: 489px;
  }
  .floater#events {
    top: 120px;
    left: 489px;
  }
  .floater#video {
    top: 220px;
    left: 300px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}
body.slides {
  background-color: black;
  color: white;
}

.body {
  width: 792px;
  height: 612px;
  margin: 0 auto;
  position: relative;
}

.slides-container {
  height: auto;
  padding-top: 45px;
}

.gallery {
  margin: 0 50px;
  display: inline;
  height: 80%;
}

.header {
  text-align: center;
}
.header h1 {
  font-size: 30px;
  padding-top: 45px;
}
.header .back {
  text-align: left;
  position: absolute;
  left: 15px;
  top: 15px;
  color: white;
  font-style: normal;
  text-decoration: none;
  font-size: 20px;
}
.header .back:visited {
  color: white;
}
.header .back:hover {
  color: white;
  transform: scale(1.25);
  transition: all 0.25s ease-in-out;
}
.header .back:active {
  color: white;
}

.img-cont {
  position: relative;
}
.img-cont img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.img-cont .hold {
  position: absolute;
  top: 0;
  left: 0;
}
.img-cont .hold.sold {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 10px;
}

.slide {
  height: 100%;
  width: 100%;
}
.slide .inner-slide {
  height: 100%;
  width: 100%;
}
.slide .inner-slide .art {
  height: 80%;
  width: 100%;
}
.slide .inner-slide .text {
  height: 15%;
  color: white;
  font-size: 15px;
  width: 100%;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
}

.slick-prev {
  left: -30px !important;
}
.slick-prev:before {
  content: "<" !important;
  height: 100%;
  font-weight: bold;
}

.slick-next {
  right: -30px !important;
}
.slick-next:before {
  content: ">" !important;
  height: 100%;
  font-weight: bold;
}

/*# sourceMappingURL=main.css.map */
